
.content {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  margin: auto;
  top: 150;
  right: 0;
  left: 0;
  position: absolute;
  width: 500px;
  height: 400px;
}

/* 1. Links */
.nav-wrapper a {
  color: black;

}

.site-header{
  display: flex;
  flex-direction: row;
}

/* 3. Navigation*/
.nav-wrapper{
  padding-top: 32px;
  width: 100%;
}

.nav {
  list-style-type: none;
  font-family: 'Karla', sans-serif;
  padding: 0.5rem 1rem;
  line-height: 1;
  text-decoration: none;
  display: flex;
  justify-content: center;
  text-decoration: underline;
  font-size: 16px;
  margin-top: -10px;
}

.alerts-side{
  width:20%;
  height:auto;
  font-family: 'Karla', sans-serif;
  font-size: 22px;
  float: right;
}
.webcam-container{
  width: 79%;
  margin-left: 10px;
  /* background-color: green; */
  height: 200px;
}
.surveillance{
  width:200px;
  height:50px;
  font-family: 'Karla', sans-serif;
  color:white;
  background-color: #df6e3e;
  text-align: center;
  line-height: 50px;
  margin: auto;
  border-radius: 10%;
}
.license-container{
  width:80%;
}
#license_img{

}

h1 {
  font-family: 'Karla', sans-serif;
  font-size: 26px;
  margin-bottom: 20px;
  color: #df6e3e;
  text-align: center;
}
h2{
  text-align:center;
  font-family: 'Karla', sans-serif;
  font-size: 22px;
}
.form{
  text-align: center;
  position: relative;
  top: 10px;

}

#logo{
  text-align: center;
}
