<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type= "text/css" href="/static/responders.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Cabin" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Karla:700" rel="stylesheet">
    <div id="logo"><img src="/static/hood2.png" alt="logo" width = 300 height = 100></div>
</head>

<body>
<div class="wrapper">
<div class="site-header">

<div class="nav-wrapper">
  <ul class = "nav">
      <li class = "fix"><a class = "nav" href="communities.html">Communities</a></li>
      <li class = "fix"><a class = "nav" href="responders.html">Responders</a></li>
  </ul>
</div>
</div>
  <!-- <form method="POST">
      Link: <input type="text" name="language">
      <input type="submit" value="Submit"><br>
  </form>

<img src='{{image}}' height = 400px width = 500px />
<br />
{{data}} -->

</body>
</html>
