<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type= "text/css" href="/static/saferhood.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Cabin" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Karla:700" rel="stylesheet">
    <div id="logo"><img src="/static/hood2.png" alt="logo" width = 300 height = 100></div>
</head>

<body>
<div class="wrapper">
<div class="site-header">

<div class="nav-wrapper">
  <ul class = "nav">
      <li class = "fix"><a class = "nav" href="/communities.html">Communities</a></li>
      <li class = "fix"><a class = "nav" href="/responders.html">Responders</a></li>
  </ul>
</div>
</div>

<div class="slider-wrapper">
<img class="slider" src="/static/tom-rumble-645202-unsplash.jpg" width="1172" height="490" alt="neighborhood">
</div>

<p class = "pulltext"><b>We value the safety of communities.</b></p>

<div class = "main">
<div class = "mycontent">
  <p id = "info"> Saferhood combines neighborhood watch programs with image recognition technologies to protect citizens.</p>
</div>

  <img src="/static/ryoji-iwata-697773-unsplash.jpg" width="500" height="500" alt="neighborhood">
  <p id = "info" class="face">Facial Recognition</p>

  <img src="/static/artur-pokusin-742-unsplash.jpg" width="500" height="500" alt="neighborhood">
  <p id = "info" class="license">License Plate Recognition</p>

</div>

<div id="communities">
<h3>Select your community:</h3>

<div class="grid-container">
  <div class="grid-item"><button type="button" id="button">Manhattan, KS</button></div>
  <div class="grid-item"><button type="button" id="button">Kansas City, MO</button></div>
  <div class="grid-item"><button type="button" id="button">Denver, CO</button></div>
  <div class="grid-item"><button type="button" id="button">Wichita, KS</button></div>
  <div class="grid-item"><button type="button" id="button">Boulder, CO</button></div>
  <div class="grid-item"><button type="button" id="button">Minneapolis, MN</button></div>
  <div class="grid-item"><button type="button" id="button">St. Louis, MO</button></div>
  <div class="grid-item"><button type="button" id="button">San Francisco, CA</button></div>
  <div class="grid-item"><button type="button" id="button">Seattle, WA</button></div>
</div>
</div>


</body>
</html>
