<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type= "text/css" href="/static/saferhood.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Cabin" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Karla:700" rel="stylesheet">
    <div id="logo"><img src="/static/hood2.png" alt="logo" width = 300 height = 100></div>
</head>

<body>
<div class="wrapper">
<div class="site-header">

<div class="nav-wrapper">
  <ul class = "nav">
      <li class = "fix"><a class = "nav" href="/communities">Communities</a></li>
      <li class = "fix"><a class = "nav" href="responders.html">Responders</a></li>
  </ul>
</div>
</div>

<div class="slider-wrapper">
<img class="slider" src="/static/tom-rumble-645202-unsplash.jpg" width="1172" height="490" alt="office">
</div>

<p class = "pulltext"><b>We value the safety of communities.</b></p>

<div class = "main">
<div class = "mycontent">
  <p id = "info"> Saferhood combines neighborhood watch programs with image recognition technologies to protect citizens.</p>
</div>

  <p id = "info" class="face">Facial Recognition</p>
  <p id = "info" class="license">License Plate Recognition</p>

</div>

<div id="communities">
<h3>Select community.</h3>

<div class="grid-container">
  <div class="grid-item">Manhattan, KS</div>
  <div class="grid-item">Kansas City, MO</div>
  <div class="grid-item">Denver, CO</div>
  <div class="grid-item">Wichita, KS</div>
  <div class="grid-item">Boulder, CO</div>
  <div class="grid-item">Minneapolis, MN</div>
  <div class="grid-item">St. Louis, MO</div>
  <div class="grid-item">San Francisco, CA</div>
  <div class="grid-item">Seattle, WA</div>
</div>
</div>


</body>
</html>
